# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDsZPnK4yqFj/PdnRAgpiL8tlfibqtOoeE4/coyGiBCRqn/NFTShg8Q9DTRUBlyc3A3gddXqEUy1SOz/p8GrId1Pc6IAO85gUtNW24zhFg/yd3DoCXcJBxHwTTqgRV+w94nja76Ff80ZfaFr1yUdHkuVbvlLUBffUMvJ+ittAiTCsXg64nFiDouN3Y3/PfgMCEl3oXunpOSFULTYV+ibLYtzknR99yV57zZ31Pa5ceaotkq0MO+hXjSZpVi+LNXLMIazTt6JAeFxZsrcASQ9ehwahKDrHiicQebJjpGrcc9M5PenbvQnyxetHLaSxkjJhNINPs+UexyDjg6Oybxc/EpWU25WPWhcKyXwtwvu4e6/v5kg8suOoOPKQEK9HwFU0mKQKcFGxWwrM7kEZa05YMJjaFB6iQDdjVylVGgbm25+7Pb4/UOZXMAhM0JD6QAeb6N7GI4XSSNPJSZGY4skqreq4GeW+C40VjLMyznhp4/60heKyH9s1GWldr2onXMbxUZmSIthX4hnq5ociliD4Ws6uSrvibXiUOwKl/duUq/b9Zhd1eSA1JFznWvvO6qO/DmgJx127vT0JFffVDMRYqPo6z3eHPPbbhjqEuIdHwV8hgUm6colzXi+lN7cKpHiYWbqOqMhs+Q5eTjzQ007bIQyDALBouEGkSIiaUrZaMUVw== deployer@patleb.com"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

test:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDsZPnK4yqFj/PdnRAgpiL8tlfibqtOoeE4/coyGiBCRqn/NFTShg8Q9DTRUBlyc3A3gddXqEUy1SOz/p8GrId1Pc6IAO85gUtNW24zhFg/yd3DoCXcJBxHwTTqgRV+w94nja76Ff80ZfaFr1yUdHkuVbvlLUBffUMvJ+ittAiTCsXg64nFiDouN3Y3/PfgMCEl3oXunpOSFULTYV+ibLYtzknR99yV57zZ31Pa5ceaotkq0MO+hXjSZpVi+LNXLMIazTt6JAeFxZsrcASQ9ehwahKDrHiicQebJjpGrcc9M5PenbvQnyxetHLaSxkjJhNINPs+UexyDjg6Oybxc/EpWU25WPWhcKyXwtwvu4e6/v5kg8suOoOPKQEK9HwFU0mKQKcFGxWwrM7kEZa05YMJjaFB6iQDdjVylVGgbm25+7Pb4/UOZXMAhM0JD6QAeb6N7GI4XSSNPJSZGY4skqreq4GeW+C40VjLMyznhp4/60heKyH9s1GWldr2onXMbxUZmSIthX4hnq5ociliD4Ws6uSrvibXiUOwKl/duUq/b9Zhd1eSA1JFznWvvO6qO/DmgJx127vT0JFffVDMRYqPo6z3eHPPbbhjqEuIdHwV8hgUm6colzXi+lN7cKpHiYWbqOqMhs+Q5eTjzQ007bIQyDALBouEGkSIiaUrZaMUVw== deployer@patleb.com"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

vagrant:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDsZPnK4yqFj/PdnRAgpiL8tlfibqtOoeE4/coyGiBCRqn/NFTShg8Q9DTRUBlyc3A3gddXqEUy1SOz/p8GrId1Pc6IAO85gUtNW24zhFg/yd3DoCXcJBxHwTTqgRV+w94nja76Ff80ZfaFr1yUdHkuVbvlLUBffUMvJ+ittAiTCsXg64nFiDouN3Y3/PfgMCEl3oXunpOSFULTYV+ibLYtzknR99yV57zZ31Pa5ceaotkq0MO+hXjSZpVi+LNXLMIazTt6JAeFxZsrcASQ9ehwahKDrHiicQebJjpGrcc9M5PenbvQnyxetHLaSxkjJhNINPs+UexyDjg6Oybxc/EpWU25WPWhcKyXwtwvu4e6/v5kg8suOoOPKQEK9HwFU0mKQKcFGxWwrM7kEZa05YMJjaFB6iQDdjVylVGgbm25+7Pb4/UOZXMAhM0JD6QAeb6N7GI4XSSNPJSZGY4skqreq4GeW+C40VjLMyznhp4/60heKyH9s1GWldr2onXMbxUZmSIthX4hnq5ociliD4Ws6uSrvibXiUOwKl/duUq/b9Zhd1eSA1JFznWvvO6qO/DmgJx127vT0JFffVDMRYqPo6z3eHPPbbhjqEuIdHwV8hgUm6colzXi+lN7cKpHiYWbqOqMhs+Q5eTjzQ007bIQyDALBouEGkSIiaUrZaMUVw== deployer@patleb.com"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

staging:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDsZPnK4yqFj/PdnRAgpiL8tlfibqtOoeE4/coyGiBCRqn/NFTShg8Q9DTRUBlyc3A3gddXqEUy1SOz/p8GrId1Pc6IAO85gUtNW24zhFg/yd3DoCXcJBxHwTTqgRV+w94nja76Ff80ZfaFr1yUdHkuVbvlLUBffUMvJ+ittAiTCsXg64nFiDouN3Y3/PfgMCEl3oXunpOSFULTYV+ibLYtzknR99yV57zZ31Pa5ceaotkq0MO+hXjSZpVi+LNXLMIazTt6JAeFxZsrcASQ9ehwahKDrHiicQebJjpGrcc9M5PenbvQnyxetHLaSxkjJhNINPs+UexyDjg6Oybxc/EpWU25WPWhcKyXwtwvu4e6/v5kg8suOoOPKQEK9HwFU0mKQKcFGxWwrM7kEZa05YMJjaFB6iQDdjVylVGgbm25+7Pb4/UOZXMAhM0JD6QAeb6N7GI4XSSNPJSZGY4skqreq4GeW+C40VjLMyznhp4/60heKyH9s1GWldr2onXMbxUZmSIthX4hnq5ociliD4Ws6uSrvibXiUOwKl/duUq/b9Zhd1eSA1JFznWvvO6qO/DmgJx127vT0JFffVDMRYqPo6z3eHPPbbhjqEuIdHwV8hgUm6colzXi+lN7cKpHiYWbqOqMhs+Q5eTjzQ007bIQyDALBouEGkSIiaUrZaMUVw== deployer@patleb.com"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= app_secret %>
  deployer_password: <%= SecureRandom.hex %>
  deployer_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDsZPnK4yqFj/PdnRAgpiL8tlfibqtOoeE4/coyGiBCRqn/NFTShg8Q9DTRUBlyc3A3gddXqEUy1SOz/p8GrId1Pc6IAO85gUtNW24zhFg/yd3DoCXcJBxHwTTqgRV+w94nja76Ff80ZfaFr1yUdHkuVbvlLUBffUMvJ+ittAiTCsXg64nFiDouN3Y3/PfgMCEl3oXunpOSFULTYV+ibLYtzknR99yV57zZ31Pa5ceaotkq0MO+hXjSZpVi+LNXLMIazTt6JAeFxZsrcASQ9ehwahKDrHiicQebJjpGrcc9M5PenbvQnyxetHLaSxkjJhNINPs+UexyDjg6Oybxc/EpWU25WPWhcKyXwtwvu4e6/v5kg8suOoOPKQEK9HwFU0mKQKcFGxWwrM7kEZa05YMJjaFB6iQDdjVylVGgbm25+7Pb4/UOZXMAhM0JD6QAeb6N7GI4XSSNPJSZGY4skqreq4GeW+C40VjLMyznhp4/60heKyH9s1GWldr2onXMbxUZmSIthX4hnq5ociliD4Ws6uSrvibXiUOwKl/duUq/b9Zhd1eSA1JFznWvvO6qO/DmgJx127vT0JFffVDMRYqPo6z3eHPPbbhjqEuIdHwV8hgUm6colzXi+lN7cKpHiYWbqOqMhs+Q5eTjzQ007bIQyDALBouEGkSIiaUrZaMUVw== deployer@patleb.com"
  mailchimp_api_key: todo
<% options.locales.each do |locale| -%>
  mailchimp_list_id_<%= locale %>: todo
<% end -%>
