.cms-edit-mode-link {
  font-size: 1.4em;
}

// main navbar
.navbar-header .cms-add-action, .navbar-header .cms-edit-action {
  font-size: 0.6em;
}

// secondary navbar
.navbar-collapse .cms-edit {
  padding: 0px;
  margin-top: -16px;
}

// devise forms
body.devise-confirmations main .panel,
body.devise-passwords main .panel,
body.devise-registrations main .panel,
body.devise-sessions main .panel,
body.devise-unlocks main .panel {
  max-width: 540px;
  margin: 0 auto;
}
