<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%%= I18n.locale %>"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%%= cms_title '<%= camelized %>' %></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  <%%= favicon_link_tag 'favicon.ico' %>
  <%%= cms_meta_data_tags(capture do %>
    <meta name="meta_keywords" content="<%= camelized %>">
    <meta name="meta_description" content="<%= camelized %>">
  <%% end) %>
  <%%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body class="<%%= cms_body_class %>">
  <header>
    <%%= render 'layouts/shared/header' %>
  </header>

  <main class="container-fluid">
    <%%= yield %>
  </main>

  <footer>
    <%%= render 'layouts/shared/footer' %>
  </footer>
</body>
</html>
