# Add your own tasks in files placed in lib/tasks ending in .rake,
# for example lib/tasks/capistrano.rake, and they will automatically be available to Rake.

require_relative 'config/application'

Rails.application.load_tasks
<% unless options.api? -%>

spec = Gem::Specification.find_by_name 'pundit'
load "#{spec.gem_dir}/lib/tasks/pundit.rake"
<% end -%>

task "db:schema:dump": "strong_migrations:alphabetize_columns"
